<div class="card">
    <div class="r">
        <h2>{{rideInfo.ridername}}</h2>
    </div>
    <div class="r">
        <div class="s">
            <span>From&nbsp;-&nbsp;</span>
            <span>{{rideInfo.source}}</span>
        </div>
        <div class="s">
            <span>To&nbsp;-&nbsp;</span>
            <span>{{rideInfo.destination}}</span>
        </div>
    </div>
    <div class="r">
        <div class="s">
            <span>Date&nbsp;-&nbsp;</span>
            <span>xx/mm/yyyy</span>
        </div>
        <div class="s">
            <span>Price&nbsp;-&nbsp;</span>
            <span>120$</span>
        </div>
    </div>
    <div class="r">
        <div class="s">
            <span>Seat Availability&nbsp;-&nbsp;</span>
            <span>10</span>
        </div>
    </div>
</div>