.login{
    display: flex;
}
.loginn{
    background-color: rgba(255,170,32);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
}
.line{
    display: flex;
    justify-content: center;
}
hr{
    /* border: 1px solid white;
    width: 2vw;
    margin-bottom: 18px; */
}
#login{
    display: flex;
    justify-content: center;
    color:white;
    margin: 6px;
    margin-bottom: 0px;
    font-size: xx-large;
}
.email,.password,.cnfpassword{
    display: flex;
    flex-direction: column;
}
.email input,.password input,.cnfpassword input{
    padding:10px 25px;
    margin-bottom: 10px;
    width: 25vw;
    border-style: none;
}
.button{
    display: flex;
    justify-content: center;
}
.button button{
    margin-top: 8px;
    background-color: rgb(166, 0, 255);
    font-size: large;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.signup{
    margin-top: 20px;
    color: white;
    display: flex;
    justify-content: center;
    font-weight: 100;
}
.butt p{
    margin-left: 10px;
    font-size: larger;
    font-weight: 200;
    cursor: pointer;
    /* background-color: red; */
    /* border-bottom: 1px solid white; */
    /* padding-bottom: 2px; */
}
