<div class="container" style="display:flex;justify-content:center">
    <form [formGroup]="registerForm" (ngSubmit)="registerSubmitted()">
        <div class="row">
            <h2> Register</h2>
        </div>
        <div class="row">
            <label>Email</label>
            <input type="text" formControlName="email">
        </div>
        <div class="row">
            <label>Password</label>
            <input type="password" formControlName="password">
        </div>
        <div class="row">
            <label>Confirm Password</label>
            <input type="password" formControlName="confirmPassword">
        </div>
        <div class="row">
            <button>Submit</button>
        </div>
        <div>
            <span>Already a member</span>
            <a routerLink="/">Login</a>
        </div>
    </form>
</div>